<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <title>Andy 강화</title>
</head>

<body>
    <nav class="bar">
        <span class="title">Andy 강화</span>
        <span class="user">Andy0414</span>
    </nav>
</body>

</html>